section{
   
}
.container-sales{
 
  display: flex;
  justify-content: center;
  align-items: center;
    
}
.wrapper{
  background-color: #fff;
   /* border: 1px solid red; */
    max-width: 1420px;
    width: 100%;
    margin: auto;
   
  }
.text-title{

 border-bottom: 1px solid #9da5b1;
}
.text-title p{
    font-size: 18px;
    color: #4f5d73;
    padding: 20px;
    
}
.clients{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #9da5b1;
    margin: 10px;
}
.item-clients{
    border-right:5px solid blue;
    width: 33%;
    margin: 2px;
    padding: 20px;
}
.item-clients p{
    font-size: 18px;
    color:#4f5d73 ;
    margin-bottom: 5px;

}
.item-clients:nth-child(1){
    border-right:5px solid #2eb85c;
}
.item-clients:nth-child(2){
    border-right:5px solid #3399ff;
}
.item-clients:nth-child(3){
    border-right:5px solid #e55353;
}
.item-clients:nth-child(4){
    border-right:5px solid #f9b115;
}
.progress-client{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px  auto;
}
.container-client{
 padding: 0px;
 display: flex;
 width: 100%;
}
.left-item{
    width: 50%;
    /* border: 1px solid rgb(76, 151, 26); */
    display: flex;
    align-items: center;
   
}
.right-item{
    width: 50%;
    /* border: 1px solid #3399ff; */
   
}
.left-item-content{
 padding: 10px;
 display: block;
   width: 100%;
}
.item-client{
   display: flex;
   justify-content: space-between;
   padding-bottom: 20px;
}
.item1{
flex: 1;
  

}
.item1 P{
    color: #4f5d73;
}
.item2{
flex: 7;
}

.progress-area-client{
   
  margin-bottom: 10px;
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background-color: #ddd;
    
   }
   .progress-bar-client{
    width: 50%;
    background-color: #f9b115;
    margin: 0px;
     height: 5px;
     border-radius: 10px;
   }
   .gender , .social{
    padding: 15px;
   } 
   .top-ma{
    display: flex;
    justify-content: space-between;
   }
   .icon-male{
    display: flex;
    padding: 5px;
    color: #4f5d73;
    font-size: 18px;
   }
   .icon-m{
    margin-left: 5px;
   color: red;
   font-size: 20px;
   }
   @media (max-width:800px) {
   
   .clients , .container-client{
    flex-direction: column;
    flex-wrap: wrap;
   }
   .left-item , .right-item{
    width: 100%;
   }
   .item2{
    flex: 5;
   }
   }
  
